# Solana Network Configuration
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_RPC_ENDPOINT=https://api.devnet.solana.com

# Contract & Mint Configuration
NEXT_PUBLIC_PROGRAM_ID=
NEXT_PUBLIC_DUIT_MINT=

# Wallet Configuration
NEXT_PUBLIC_WALLET_CONFIG=phantom,solflare

# API Configuration
API_BASE_URL=http://localhost:3000/api

# Environment
NODE_ENV=development
