
/* ==============================
   DUIT DIGITAL PORTAL
============================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:#0B1020;

    color:white;

    font-family:Arial, Helvetica, sans-serif;

}

.container{

    width:90%;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 0;

}

header{

    background:#111827;

    border-bottom:2px solid gold;

}

.logo{

    width:60px;

    height:60px;

    border-radius:50%;

}

nav a{

    color:white;

    text-decoration:none;

    margin-left:25px;

    font-weight:bold;

}

nav a:hover{

    color:gold;

}

.hero{

    text-align:center;

    padding:120px 20px;

}

.hero h1{

    font-size:55px;

    color:gold;

}

.hero p{

    margin-top:20px;

    font-size:22px;

    color:#d1d5db;

}

.button{

    display:inline-block;

    margin-top:40px;

    padding:15px 35px;

    background:gold;

    color:black;

    text-decoration:none;

    border-radius:40px;

    font-weight:bold;

    transition:.3s;

}

.button:hover{

    background:white;

    transform:scale(1.05);

}
.hero{

    min-height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:50px;

}

.hero-logo{

    width:180px;

    margin-bottom:30px;

    animation:float 4s ease-in-out infinite;

}

.hero h1{

    font-size:64px;

    color:#FFD700;

}

.hero h3{

    margin-top:15px;

    color:white;

    font-size:26px;

}

.hero p{

    margin-top:25px;

    max-width:700px;

    line-height:1.8;

    color:#c9d1d9;

    margin-left:auto;

    margin-right:auto;

}

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-15px);

}

100%{

transform:translateY(0px);

}

}
